* {
  margin: 0;
  padding: 0;
}

.navbar {
  height: 80px;
  width: 1440px;
  background-color: #1ac073;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  font-family: "Squada One";
  margin: auto -70px auto 120px;
  /* top: 2px; */
  /* width: 89px; */
  /* height: 20px; */
  /* left: -14.5px; */
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: color 0.3s;
  width: 48px;
  height: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  line-height: 20px;
}

.nav-links a:hover {
  color: #ffd700;
}

.icons {
  margin: auto 95px auto 10px;
}

.icons img {
  margin: auto 25px auto 10px;
}

.text {
  width: 534px;
  height: 317px;
  /* top: 250px; */
  /* left: 132px; */
  margin: 170px auto auto 120px;
}

.head {
  background-color: #1ac073;
  height: 720px;
  display: flex;
  width: 1440px;
}

.largerText {
  line-height: 82.03px;
  font-size: 70px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  color: white;
}

.smallerText {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: white;
  margin: 20px auto 30px auto;
}

.searchBar {
  display: flex;
  width: 398px;
  height: 58px;
  top: 259px;
}

.searchtext {
  background-color: white;
  border-radius: 7px 0 0 7px;
  width: 286px;
}

.search {
  background-color: #f3ba00;
  border-radius: 0 7px 7px 0;
  width: 112px;
}

.enterFood {
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #929292;
  display: flex;
  margin: 18px 0 0 22px;
}

.searchButton {
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  display: flex;
  justify-content: center;
  margin-top: 18px;
}

.image {
  height: 525px;
  width: 521.63px;
  margin: 170px 100px auto 120px;
}

.social-icons {
  margin: 0 120px -20px 10px;
}

.social-icons img {
  margin: 0 10px 0 5px;
}

.line {
  width: 1180.5px;
  margin: -80px 120px 0 120px;
}

.footer-navbar {
  height: 137px;
  width: 1440px;
  background-color: #1ac073;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  /* padding: 55px 0 -50px 0; */
  padding: 30px 0 0 0;
}

.footer-logo {
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  font-family: "Squada One";
  margin: 0 -70px 0 120px;
  /* top: 2px; */
  /* width: 89px; */
  /* height: 20px; */
  /* left: -14.5px; */
}

.home-kitchen {
  width: 350px;
  height: 24px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 800;
  font-size: 40px;
  line-height: 24px;
  margin: 0 auto 60px 120px;
  padding: 100px 0 0 0;
}

.pizza-image {
  width: 277px;
  height: 250px;
  background-color: #797979;
  border-radius: 10px 10px 0 0;
}

.home-made {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 10px 0 0 10px;
}

.price {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: -20px 0 -20px 200px;
}

.rating {
  font-size: 12px;
  margin: 30px 0 0 10px;
}

.plus-image {
  margin: -80px 0 0 200px;
}

.card {
  margin: 60px auto 40px 120px;
  background-color: white;
  width: 277px;
  height: 337px;
  border-radius: 10px 10px;
  margin: 0 -80px 30px 120px;
  cursor: pointer;
}

.main {
  background-color: #f7f8fa;
  width: 1440px;
}

.items {
  display: flex;
  flex-wrap: wrap;
}

.popItems {
  /* width: 350px; */
  height: 24px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 800;
  font-size: 40px;
  line-height: 24px;
  margin: 0 auto 60px 120px;
  padding: 70px 0 0 0;
  text-align: center;
}

.popcard {
  /* margin: 60px 30px 40px 220px; */
  background-color: white;
  width: 277px;
  height: 337px;
  border-radius: 10px 10px;
  margin: 0 30px 30px 47px;
}

.prevArrow {
  width: 61.5px;
  height: 61.5px;
  margin: 120px 0 0 180px;
}
.nextArrow {
  width: 81.5px;
  height: 81.5px;
  margin: 110px 0 0 0;
}

.btn {
  background-color: #1ac073;
  border: 1px solid #1ac073;
  color: white;
  height: 48px;
  width: 210px;
  border-radius: 10px;
  left: 50%;
  position: absolute;
}

.firstContent{
  height: 2029px;
}

.video{
  width: 877px;
  height: 442px;
}

.color{
  width: 1440px;
  height: 344px;
  background-color: #C7eACC;
  margin: -221px 0 0 0
}

.services{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  line-height: 57px;
  margin: -50px auto 10px 80px;
  padding: -40px 0 0 0;
}

.serviceText{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #737373;
  margin: -110px auto 10px 0;
  line-height: 20px;
}

.secondContent{
  background-color: white;
}

.video{
  margin: -90px auto auto 300px;
}

.thirdContent{
  display: flex;
}

.question{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24x;
}

.instruction{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 20x;
}

.form{
  margin: 80px 40px 0 120px
}

.boy{
  margin: 100px 0 0 0;
}

.name{
  height: 58px;
  width: 300px;
  color: #929292;
  margin: 0 5px 0 0;
  border-radius: 10px;
  border: none;
  padding: 0 0 0 10px;
}

.email{
  height: 58px;
  width: 300px;
  color: #929292;
  margin: 0 0 0 5px;
  border-radius: 10px;
  border: none;
  padding: 0 0 0 10px;
}

.credentials{
  display: flex;
  margin: 30px 0 0 0;
}

.message{
  height: 164px;
  width: 645px;
  color: #929292;
  margin: 30px 0 0 0;
  border-radius: 10px;
  border: none;
  padding: -100px 0 100px 0;
  top: 0;
}

.submitBtn{
  background-color: #1ac073;
  border: 1px solid #1ac073;
  color: white;
  height: 58px;
  width: 210px;
  border-radius: 10px;
  margin: 30px 0;
}